PORT=5000

# ==============================
# Database (MongoDB Atlas)
# ==============================
MONGO_URI=mongodb+srv://<DB_USER>:<DB_PASSWORD>@<CLUSTER_NAME>.mongodb.net/<DB_NAME>?retryWrites=true&w=majority

# ==============================
# Authentication (JWT)
# ==============================
JWT_SECRET=<YOUR_JWT_SECRET>
JWT_EXPIRES_IN=30m

# ==============================
# AWS Configuration
# ==============================
AWS_REGION=<AWS_REGION>
AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_S3_BUCKET_NAME=<AWS_S3_BUCKET_NAME>
AWS_SES_SENDER_EMAIL=<VERIFIED_SENDER_EMAIL>

FRONTEND_URL=http://localhost:5173

STORAGE_LIMIT_MB=250
